
body {
  background-color: #b3d9ff;
}

h1 {
  color:black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
#home {
  width: 46px;
  height: 44px;
  background: url(Image%20(3).jpeg 0 0;
}

#next {
  width: 43px;
  height: 44px;
  background: url(Image%20(4).jpeg -91px 0;
}
</style>